Host *
Ciphers              aes192-cbc,aes128-cbc,3des-cbc,blowfish-cbc,aes256-cbc
GSSAPIAuthentication yes
HashKnownHosts       yes
Port                 1022
SendEnv              LANG
SendEnv              LC_*

Host foo.*,*.bar
ForwardX11           yes
SendEnv              FOO
SendEnv              BAR

Host *.gre.hp.com
ForwardX11           yes
User                 tester

Host picosgw
ForwardAgent         yes
HostName             sshgw.truc.bidule
IdentityFile         ~/.ssh/%r
GatewayPorts         yes
LocalForward         20022 10.3.244.4:22
LocalForward         all.com/22080 2001:0db8:85a3:0000:0000:8a2e:0370:7334/80
User                 k0013

Host picos
ForwardX11           yes
HostName             localhost
Port                 20022
User                 ocad

